[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "hugo-book"]
	path = hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
